<div class="row mt-4">
  <div class="col-md-4">
    <div class="list-group entity-type-list mt-4">
      {{#each model as |department|}}
        {{#link-to "departments.department.employees" department class="list-group-item dept-link"}}
          {{department.dname}}, {{department.loc}}
        {{/link-to}}
      {{/each}} 
    </div>  
  </div>

  <div class="col-md-8">
    {{outlet}}
  </div>

</div>
